@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'VT323', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: black;
  color: greenyellow;
}

#paragraph {
  margin: 30px;
  /* text-align: center; */
  line-height: 1.4rem;
  font-size: 1.5rem;
}

#btn-change {
  height: 45px;
  width: 150px;
  background-color: black;
  color: greenyellow;
  font-family: 'VT323', sans-serif;
  font-size: 1.4rem;
  border-color: greenyellow;
  border-radius: 10px;
}

#btn-change:hover {
  cursor: pointer;
}

#btn-change:active {
  transform: scale(90%);
}
